body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    width: 300px; /* Ajuste conforme necessário */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}